.project{
    height:calc(100vh - 50px);
}

.project-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    gap: 50px;
}

.links:hover{
   text-decoration: underline;
}