#footer{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

#footer img:hover{
    box-shadow: 2px 2px 5px white;
}